@model VehicleInventory.Models.VehicleViewModel

@{
    ViewData["Title"] = "Edit";
    var text = Model.ImagePath ?? "No file chosen";
}

<h1>Edit</h1>

<h4>Update the vehicle information</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />
            <input asp-for="Image" id="vehicleImage" type="hidden" />
            <input asp-for="ImagePath" id="imagePath2" type="hidden" />
            <div class="form-group">
                <select asp-for="Year" asp-items="@(new SelectList(Model.Years))" class="form-control">
                    <option>Select Year</option>
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="MakeId" asp-items="@(new SelectList(Model.Makes,"Id","Name"))" class="form-control" id="vehicleMake">
                    <option>Select Make</option>
                </select>
                <span asp-validation-for="MakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="ModelId" asp-items="@(new SelectList(Model.Models,"Id","Name"))" class="form-control" id="vehicleModel" disabled>
                    <option>Select Model</option>
                </select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <div class="border rounded" data-toggle="tooltip" title="@text" id="imageMask" onclick="document.getElementById('imagePath').click()">
                    <span class="btn btn-light border border-dark bg-light">Choose File</span> <span id="imageMaskText">@text</span>
                </div>
                <input type="file" class="form-control-file border d-none" id="imagePath" accept="image/png, image/jpeg" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Update" class="btn btn-primary" onclick="validateInputFile();" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
